@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.main-container {
	@apply lg:w-full md:w-full mx-auto p-4;
}

.text-with-bg {
	@apply text-slate-800  bg-indigo-100 dark:text-teal-200 dark:bg-slate-900;
}

.table-container {
	@apply bg-indigo-100 dark:bg-slate-600 p-2 lg:w-3/4 mx-auto md:w-full rounded-lg shadow-lg;
}

.user-table {
	@apply table-auto w-full border-separate sm:overflow-hidden  md:overflow-hidden;
}

.header-row {
	@apply bg-indigo-100 dark:bg-slate-600 text-indigo-900 rounded-lg p-4;
}

tr > th {
	@apply lg:p-4 md:p-3.5 sm:p-3  bg-indigo-200 dark:bg-slate-900 dark:text-indigo-200 shadow-lg rounded-lg py-4 px-2 text-left;
}

tr > td {
	@apply lg:p-4 md:p-3.5 sm:p-3 bg-slate-50 shadow-lg dark:bg-slate-700 dark:text-indigo-200 rounded-lg m-2 py-4 px-2;
}

.button {
	@apply w-10 h-10 rounded-full bg-indigo-200 dark:bg-slate-900 shadow-lg mx-2 my-3 disabled:opacity-75 disabled:bg-gray;
}

.button-icon {
	@apply h-4 mx-auto text-indigo-900 dark:text-indigo-200 text-xl;
}

.edit-form {
	@apply w-full flex-row  flex justify-center mx-auto px-1.5 py-0;
}

.form-label {
	@apply relative block m-1.5;
}

.form-input {
	@apply placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-4 pr-3 shadow-sm focus:outline-none focus:border-indigo-200 focus:ring-indigo-200 focus:ring-1 sm:text-sm;
}

.submit-button {
	@apply bg-teal-400 py-1.5 px-2 rounded-lg m-1.5;
}

.cancel-button {
	@apply bg-gray py-1.5 px-2 rounded-lg m-1.5;
}

.buttons-container {
	@apply flex;
}

.delete-all-button {
	@apply bg-red-300 text-lg text-slate-800 px-2 py-1 m-1.5 mr-4 w-32 rounded-lg shadow-lg;
}
